@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  -webkit-font-smoothing: antialiased; /* For WebKit browsers like Chrome and Safari */
  -moz-osx-font-smoothing: grayscale; /* For macOS (Firefox) */
  font-smoothing: antialiased; /* Standard for other browsers */
}

html, body {
  font-family: var(--font-body);
}

.body--fixed {
  position: fixed !important;
  inset: 0;
  height: 100%;
  width: 100%;
}

.font-heading {
  font-family: var(--font-heading);
}

.font-neue {
  font-family: var(--font-body);
}

.font-subheading {
  font-family: var(--font-subheading);
}

.font-mono {
  font-family: var(--font-mono);
}

.nav-link {
  @apply tracking-[0.14em] opacity-80 text-sm;
}

h1, h2, h3, h4, h5, h6 {
  @apply leading-[1.1];
}

.text-mask .line {
  @apply bg-carbon-grey;
  clip-path: polygon(-10% -100%, 110% -100%, 110% 0%, -10% 0%);
  transition: all 0.3s cubic-bezier(1, 0, 0, 1)
}

.text-mask-anim .line {
  clip-path: polygon(-10% 0%, 110% 0%, 110% 110%, -10% 110%);
}

.section-header h2 span {
  @apply font-light;
}